{% extends "base.html" %}
{% block content %}

<div class="ui segments">
	<div class="ui segment attached">
		<h1 class="ui header">User Permissions
			<div class="sub header">Edit the access permissions for members of your team.</div>
		</h1>
	</div>	
		<table class="ui celled striped table attached">
		  <thead>
		    <tr>
		    	<th>Name</th>
		    	<th>Designation</th>
		    	<th>Reply to reviews</th>
		    	<th>Make call notes</th>
		    	<th>Client tools</th>
		    	<th>Mailers *</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    	<td>Ashish Goel</td>
		    	<td>Restaurant Secondary Manager</td>
		    	<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label></label>
					</div>
				</td>
				<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label></label>
					</div>
				</td>
				<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label></label>
					</div>
				</td>
		    	<td>
		    	<div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label><a href="#">Subscribed</a></label>
					</div>
				</td>
		    </tr>		 
		   <tr>
		    	<td>Aiswarya Kolisetty</td>
		    	<td>Restaurant Secondary Manager</td>
		    	<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label></label>
					</div>
				</td>
				<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label>On</label>
					</div>
				</td>
				<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label></label>
					</div>
				</td>
		    	<td>
		    	<div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label><a href="#">Subscribed</a></label>
					</div>
				</td>
		    </tr>		 
		    <tr>
		    	<td>Archit Garg</td>
		    	<td>Restaurant Manager</td>
		    	<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label>Off</label>
					</div>
				</td>
				<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label>Off</label>
					</div>
				</td>
				<td><div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label>On</label>
					</div>
				</td>
		    	<td>
		    	<div class="ui slider checkbox">
					  <input type="checkbox" name="newsletter">
					  <label><a href="#">Subscribed</a></label>
					</div>
				</td>
		    </tr>		 
		  </tbody>
		</table>

		<div class="ui segment bottom attached">
		<p><small>* Notification mailers are sent for reviews, photos, comments, wishlists, and visits.  Note that unsubscribed managers will stop receiving notifications for this user activity.</small></p>
		</div>	

	</div>




{% endblock content%}