{% extends "base.html" %}
{% block content %}



	<div class="ui segments">


		<div class="ui segment">
			<h1 class="ui header">Analytics
				<p class="sub header">See how your listing is doing on Zomato.</p>	
			</h1>
			<h3>Estimated Business Generated</h3>
			<div class="ui horizontal segments">
				<div class="ui segment">
					July'16
					(Last month)
					₹4,78,593
				</div>
				<div class="ui segment">
					August'16
					(This month so far)
					₹1,32,676
				</div>
				<div class="ui segment">
					<img src="http://placehold.it/260x78"/>	
				</div>

			</div>


			<h3>Social Actions by Customers</h3>
			<div class="ui horizontal segments">
				<div class="ui segment">
					July'16
					(Last month)
					₹4,78,593
				</div>
				<div class="ui segment">
					August'16
					(This month so far)
					₹1,32,676
				</div>
				<div class="ui segment">
					<img src="http://placehold.it/260x78"/>	
				</div>

			</div>
				




	
			<p>	
				<a class="ui green empty circular label"></a> Payment Settled Orders &nbsp;&nbsp;
				<a class="ui orange empty circular label"></a> Payment Pending Orders &nbsp;&nbsp;
				<a class="ui red empty circular label"></a> NEFT Transfers &nbsp;&nbsp;
				<a class="ui blue empty circular label"></a> Reverse Entry &nbsp;&nbsp;
			</p>
		</div>
		<div class="ui segment attached">
			<div class="ui dropdown branch compact button">
	          <div class="text">
	            From:
	            <b>27th July 2016 &nbsp; &nbsp;</b>
	          </div>
	          <i class="dropdown icon"></i>
	        </div>

			<div class="ui dropdown branch compact button">
	          <div class="text">
	            To:
	            <b>5th Aug 2016 &nbsp; &nbsp;</b>
	          </div>
	         <i class="dropdown icon"></i>
	        </div>

			
			<a class="ui compact green button">Filter</a>

			<a class="ui right floated blue compact button">Download CSV</a>
		</div>

		<table class="ui celled striped table bottom attached">
		  <thead>
		    <tr>
		    	<th>Hash ID</th>
		    	<th>Order Date</th>
		    	<th>Channel</th>
		    	<th>Total</th>
		    	<th>Net</th>
		    	<th>Comm. Rate</th>
		    	<th>Comm. Amount</th>
		    	<th>Service Tax</th>
		    	<th>TDS</th>
		    	<th>Debit</th>
		    	<th>Credit</th>
		    	<th>Balance</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    	<td>5834341</td>
		    	<td>27th July 2016</td>
		    	<td>Cash</td>
		    	<td>₹850.08</td>
		    	<td>₹680.00	</td>
		    	<td>17.35 %</td>
		    	<td>₹118.00</td>
		    	<td>₹17.70</td>
		    	<td>₹0.00</td>
		    	<td>₹135.70</td>
		    	<td>--</td>
		    	<td>-₹2946.29</td>
		    </tr>
		    <tr>
		    	<td><a id = "neft-link">CITIN16669920032</a></td>
		    	<td>27th July 2016</td>
		    	<td>Cash</td>
		    	<td>₹850.08</td>
		    	<td>₹680.00	</td>
		    	<td>17.35 %</td>
		    	<td>₹118.00</td>
		    	<td>₹17.70</td>
		    	<td>₹0.00</td>
		    	<td>₹135.70</td>
		    	<td>--</td>
		    	<td>-₹2946.29</td>
		    </tr>
		    <tr>
		    	<td>5834341</td>
		    	<td>27th July 2016</td>
		    	<td>Cash</td>
		    	<td>₹850.08</td>
		    	<td>₹680.00	</td>
		    	<td>17.35 %</td>
		    	<td>₹118.00</td>
		    	<td>₹17.70</td>
		    	<td>₹0.00</td>
		    	<td>₹135.70</td>
		    	<td>--</td>
		    	<td>-₹2946.29</td>
		    </tr>		    
		    <tr>
		    	<td>5834341</td>
		    	<td>27th July 2016</td>
		    	<td>Cash</td>
		    	<td>₹850.08</td>
		    	<td>₹680.00	</td>
		    	<td>17.35 %</td>
		    	<td>₹118.00</td>
		    	<td>₹17.70</td>
		    	<td>₹0.00</td>
		    	<td>₹135.70</td>
		    	<td>--</td>
		    	<td>-₹2946.29</td>
		    </tr>
		    <tr>
		    	<td>5834341</td>
		    	<td>27th July 2016</td>
		    	<td>Cash</td>
		    	<td>₹850.08</td>
		    	<td>₹680.00	</td>
		    	<td>17.35 %</td>
		    	<td>₹118.00</td>
		    	<td>₹17.70</td>
		    	<td>₹0.00</td>
		    	<td>₹135.70</td>
		    	<td>--</td>
		    	<td>-₹2946.29</td>
		    </tr>		    
		  </tbody>
		</table>
	</div>	





{% endblock content%}
