{% extends "base.html" %}
{% block content %}



	<div class="ui segments">

	    <div class="ui segment attached">
      <h1 class="ui header">Analytics
        <div class="sub header">See how your listing is doing on Zomato.</div>
      </h1>
    </div>


		<div class="ui segment bottom attached">

			<!--EBG-->
			<h3>Estimated Business Generated</h3>
			<div class="ui horizontal segments">
				<div class="ui segment">
					July'16
					(Last month)
			<div class="ui mini statistics">
				<div class="green statistic">
				  <div class="value">
				    ₹4,78,593
				  </div>
				  </div>
			  </div>
					
				</div>
				<div class="ui segment">
					August'16
					(This month so far)
			   <div class="ui mini statistics">
				<div class="green statistic">
				  <div class="value">
				    ₹1,78,593
				  </div>
			  </div>
			  </div>
				</div>
				<div class="ui segment">
					<img src="http://placehold.it/260x78"/>	
				</div>

			</div>

			<!--PAGE VIEWS GRAPH-->
			<h3> Page views </h3>

			<div class="ui text attached menu">
			  <a class="active item">
			    Daily
			  </a> 
			  <a class="item">
			    Weekly
			  </a>
			  <a class="item">
			    Monthly
			  </a>
			</div>

				<img src="http://placehold.it/882x350"/>
	


			<!-- YTD AVERAGE PAGE VIEWS -->

			<div class="ui horizontal segments">
					
				<div class="ui segment">
					Total Page Views (YTD)					
						<div class="ui mini statistics">
							<div class="green statistic">
							  <div class="value">
							    36299 page views
							  </div>
							  </div>
						  </div>
					
					<div class = "ui divider"> </div>
					<img src="http://placehold.it/250x100"/>
					
				</div>

				<div class="ui segment">
					Average page views per day (YTD)					
						<div class="ui mini statistics">
							<div class="green statistic">
							  <div class="value">
							    36299 page views
							  </div>
							  </div>
						  </div>
					
					<div class = "ui divider"> </div>
					<img src="http://placehold.it/250x100"/>
				</div>

			</div>



			<!-- SOCIAL ACTIONS BY CUSTOMERS-->
			<h3>Social Actions by Customers</h3>
			<div class="ui horizontal segments">
				<div class="ui segment">
				Restaurant bookmarked by users
			<div class="ui mini statistics">
				<div class="blue statistic">
				  <div class="value">
				    10 bookmarks
				  </div>
				  </div>
			  </div>
				</div>
				<div class="ui segment">
				Photos uploaded by users
					<div class="ui mini statistics">
				<div class="blue statistic">
				  <div class="value">
				    40 photos
				  </div>
				  </div>
			  </div>
				</div>
				<div class="ui segment">
				Reviews written by users
				<div class="ui mini statistics">
					<div class="blue statistic">
				  	<div class="value">
				    10 reviews 
				  	</div>
				  </div>
			  </div>
				</div>

			</div>
				





		<!--SALES POC VIEW FOR BANNERS -->

		<h3 class = "ui header"> Ad banner impressions
			<p class = "sub header"> Advertisement record </p>
		</h3>

		<table class="ui celled striped table bottom attached">
		  <thead>
		    <tr>
		    	<th>Info</th>
		    	<th>Start date</th>
		    	<th>End date</th>
		    	<th>Impressions</th>
		    	<th>Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    	<td>bzone: Sector 18 <br> category: Premium-Delivery <br> slot: 4</td>
		    	<td>27th July 2016</td>
		    	<td>27th August 2016</td>
		    	<td>106621</td>
		    	<td>ongoing</td>
		    </tr>
		    <tr>
		    	<td>bzone: Sector 18 <br> category: Premium-Delivery <br> slot: 4</td>
		    	<td>27th July 2016</td>
		    	<td>27th August 2016</td>
		    	<td>106621</td>
		    	<td>ongoing</td>
		    </tr>
		    <tr>
		    	<td>bzone: Sector 18 <br> category: Premium-Delivery <br> slot: 4</td>
		    	<td>27th July 2016</td>
		    	<td>27th August 2016</td>
		    	<td>106621</td>
		    	<td>ongoing</td>
		    </tr>		    
		    <tr>
		    	<td>bzone: Sector 18 <br> category: Premium-Delivery <br> slot: 4</td>
		    	<td>27th July 2016</td>
		    	<td>27th August 2016</td>
		    	<td>106621</td>
		    	<td>ongoing</td>
		    </tr>
		    <tr>
		    	<td>bzone: Sector 18 <br> category: Premium-Delivery <br> slot: 4</td>
		    	<td>27th July 2016</td>
		    	<td>27th August 2016</td>
		    	<td>106621</td>
		    	<td>ongoing</td>
		    </tr>		    
		  </tbody>
		</table>

	</div>
	</div>
	





{% endblock content%}
