{% extends "base.html" %}
{% block content %}

<h2>Delivery Areas</h2>
<p>People ordering from your outlet right now: 2</p>

<div class="ui grid">
	<div class="four wide column">
		<div class="ui segment">
		<h5>Tier 1</h5>
			<span class="ui label">Suncity, Sector 54, Gurgaon (0.67km)<i class="delete icon"></i></span>
			<span class="ui label">Suncity, Sector 54, Gurgaon (0.67km)<i class="delete icon"></i></span>
			<span class="ui label">Suncity, Sector 54, Gurgaon (0.67km)<i class="delete icon"></i></span>
			<span class="ui label">Suncity, Sector 54, Gurgaon (0.67km)<i class="delete icon"></i></span>
			<span class="ui label">Suncity, Sector 54, Gurgaon (0.67km)<i class="delete icon"></i></span>
			<span class="ui label">Suncity, Sector 54, Gurgaon (0.67km)<i class="delete icon"></i></span>
		</div>
		<div><a href="#" class="ui button">Add a Tier</a></div>
		<div><a href="#" class="ui green button">Submit Subzones for Approval</a></div>
	</div>
	<div class="twelve wide column">
		<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=map&w=600&h=600"/>
	</div>

</div>


		









{% endblock content%}
