{% extends "base.html" %}
{% block content %}



<div class="ui small active modal" style="top:10%;">
	  <i class="close icon"></i>
	<div class="content">
  <div class="ui sub header brown">Order Details (6508985 placed on 02:50 PM, August 13 2016)</div>
<div class="ui list">
  <div class="item">
    <i class="user middle aligned icon"></i>
    <div class="content">
      Akshat Mittal&nbsp;
      <div class="ui tiny label basic blue">3rd order from this outlet</div>
    </div>
  </div>
  <div class="item">
    <i class="home middle aligned icon"></i>
    <div class="content">
      flat no - 803, sheeba apartments, sector 28, Sector 28, Golf Course Road, Sector 28
    </div>
  </div> 
</div>
    <div class="ui sub header brown">Items</div>
    <table class="ui very basic bottom attached single line table">
      	<tr>
          <td>
            <h4 class="ui header">
            <div class="content">
              Hot Bihari Sauce
            </div>
            </h4>
          </td>
          <td><code>2</code> &times; ₹ 20</td>
      		<td class="right aligned">₹ 40</td>
      	</tr>
      	<tr>
      		<td>
          <div class="ui list">
            <div class="item">
              <div class="content">
                <div class="header">White Guy Chicken Burger</div>
                <div class="description">
                  <div class="list">
                    <div class="item">Option : Make a Combo [Fries+Beverage]</div>
                    <div class="item">Beverage : Fizzy</div>
                    <div class="item">Fries : French Fries</div>        
                  </div>
                </div>
              </div>
            </div>
          </div>
          </td>
          <td class="top aligned"><code>1</code> &times; ₹ 298</td>
      		<td class="top aligned right aligned">₹ 298</td>

      	</tr>
       	<tr>
      		<td><strong>Subtotal</strong></td>
          <td></td>
      		<td class="right aligned"><strong>₹ 318</strong></td>
      	</tr>
       	<tr class="disabled">
      		<td>
            S.B. Cess
          </td>
          <td></td>
      		<td class="right aligned">₹ 0.63</td>
      	</tr>
       	<tr class="disabled">
      		<td>Service Tax</td>
          <td></td>
      		<td class="right aligned">₹ 0.62</td>
      	</tr>
       	<tr class="disabled">
      		<td>Krishi Kalyan Cess</td>
          <td></td>
      		<td class="right aligned">₹ 17.80</td>
      	</tr>
       	<tr class="disabled">
      		<td>VAT</td>
          <td></td>
      		<td class="right aligned">₹ 39.75</td>
      	</tr>
       	<tr class="disabled">
      		<td>Delivery Charge</td>
          <td></td>
      		<td class="right aligned">₹ 40</td>
      	</tr>
        <tr class="disabled">
      		<td> Surcharge on VAT</td>
          <td></td>
      		<td class="right aligned">₹ 2</td>
      	</tr> 
        <tr>
          <td><strong>Total Cost</strong></td>
          <td></td>
          <td class="right aligned"><strong>₹ 337.82</strong></td>
        </tr>               	    	     	
      </table>

	</div>
  <!--<div class="actions">
    <a class="ui basic button red compact">Report</a>
  </div>-->
</div>

  <div class="ui segments">
    <div class="ui segment attached">
      <h1 class="ui header">Online Ordering History
        <div class="sub header">View all orders placed using Zomato online ordering</div>
      </h1>
    </div>
    <table class="ui celled structured striped table attached">
      <thead>
        <tr>
          <th>Hash ID</th>
          <th>Time</th>
          <th>Delivery Status</th>
          <th>Payment Method</th>
          <th>Source</th>
          <th>Amount</th>
          <th>Rejection Reason</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">5937070</a></td>
          <td>01:23 PM, July 30 2016</td>
          <td>Delivered</td>
          <td>COD</td>
          <td>Zomato</td>
          <td>₹ 418.81</td>
          <td>-</td>
          <td><a class="ui basic mini red button">Report</a></td>
        </tr>   
      <tr>
          <td><a href="#">5937070</a></td>
          <td>01:23 PM, July 30 2016</td>
          <td><span class="red">Rejected</span></td>
          <td>COD</td>
          <td>Zomato</td>
          <td>₹ 418.81</td>
          <td>No delivery boys available</td>
          <td><a class="ui basic mini red button">Report</a></td>
        </tr>               
      </tbody>
    </table>
    <div class="ui center aligned segment attached"><a class="ui green basic button">Load More</a></div>
  </div>


  <!--DISPUTE MODAL-->

  <!--<div class="ui modal active" id="dispute-modal">
    <h3 class= "ui header"> Dispute this order
    <div class = "sub header"> HashID: 5937070
    </div></h3>
  <div class="content">
        <div class="ui form">
    <div class="grouped fields">
      <label>Select a reason.</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="example2" checked="checked">
          <label>Invalid address</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="example2">
          <label>Did not answer the phone</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="example2">
          <label>Refused to pay</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="example2">
          <label>Other</label>
        </div> 
        <div class = "ui small disabled input">
         <input type="text" name="reason" placeholder="Provide reason">
      </div>
    </div>
    </div>
  </div>
  </div>

  <div class="actions">
    <a class="ui grey basic button"> Cancel </a>
    <a class="ui red basic button"> Raise Dispute </a>
    </div>
  </div>-->

  <!--END DISPUTE MODAL -->
  

{% endblock content%}
