{% extends "base.html" %}
{% block content %}

<div class="ui segments">
	<div class="ui segment attached">
		<h1 class="ui header">Opening hours
			<div class="sub header">Add or modify your restaurant's business hours.  Please note that timings are in the 24-hour format.</div>
		</h1>
	</div>	

	
<div class="ui styled fluid accordion">
  <div class="active title" style = "background-color:#F3F4F5">
  <div class = "ui grid">
    	<div class = "three wide column">
		    <i class="dropdown icon"></i>
		    Monday
		</div>
		<div class = "nine wide column">
		 <img class = "ui right align" src="http://placehold.it/14x14"/>
		 <img class = "ui right align" src="http://placehold.it/14x14"/>	
		</div>
		<div class = "four wide column">
		<p class = "ui left align">
		08:00 - 13:30, 16:30 - 23:30 </p>
		</div>
   </div>
  </div>
  <div class="active content">

  	<form class = "ui form">

		  <div class="ui middle aligned list">
		  <div class = "item">
		      <div class="fields" style = "margin-top: 1em">
		      <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" value = "08:00" placeholder="Start time (ex. 14:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" value = "13:30" placeholder="End time (ex. 23:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			 <div class = "one wide field"></div>
			  <div class = "three wide field">
		      <div class="ui basic red button">Delete</div>
		      </div>
		    </div>
		   </div>

		    <div class = "item">
		      <div class="fields">
		      <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" value = "16:30" placeholder="Start time (ex. 14:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" value = "23:30" placeholder="End time (ex. 23:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "one wide field"></div>
			  <div class = "three wide field">
		      <div class="ui basic red button">Delete</div>
		      </div>
		    </div>
		   </div>

		   <div class = "item">
		      <div class="fields">
		      <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" placeholder="Start time (ex. 14:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" placeholder="End time (ex. 23:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "one wide field"></div>
			  <div class = "three wide field">
		      <div class="ui basic red button">Delete</div>
		      </div>
		    </div>
		   </div>

		   <div class = "item">
		   <div class = "field">
		   <div class="ui green button">Add</div>
		   </div>

		   </div>


		    </div>


	</form>

  </div>
  </div>


	
<div class="ui styled fluid accordion">
  
	 <div class="title">
	  <div class = "ui grid">
    	<div class = "three wide column">
		    <i class="dropdown icon"></i>
		    Tuesday
		</div>
		<div class = "nine wide column">
		 <img class = "ui right align" src="http://placehold.it/14x14"/>
		 <img class = "ui right align" src="http://placehold.it/14x14"/>	
		</div>
		<div class = "four wide column">
		<p class = "ui left align">
		08:00 - 13:30, 16:30 - 23:30 </p>
		</div>
   </div>
  </div>


  <div class="content">

    	<form class = "ui form">

		  <div class="ui middle aligned list">
		  <div class = "item">
		      <div class="fields" style = "margin-top: 1em">
		      <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" value = "08:00" placeholder="Start time (ex. 14:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" value = "13:30" placeholder="End time (ex. 23:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			 <div class = "one wide field"></div>
			  <div class = "three wide field">
		      <div class="ui basic red button">Delete</div>
		      </div>
		    </div>
		   </div>

		    <div class = "item">
		      <div class="fields">
		      <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" value = "16:30" placeholder="Start time (ex. 14:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" value = "23:30" placeholder="End time (ex. 23:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "one wide field"></div>
			  <div class = "three wide field">
		      <div class="ui basic red button">Delete</div>
		      </div>
		    </div>
		   </div>

		   <div class = "item">
		      <div class="fields">
		      <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" placeholder="Start time (ex. 14:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "seven wide field">
			    <div class="ui right labeled input">
				  <input type="text" placeholder="End time (ex. 23:20)">
  				  <div class="ui label">
				    hours
				  </div>
				</div>
			  </div>
			  <div class = "one wide field"></div>
			  <div class = "three wide field">
		      <div class="ui basic red button">Delete</div>
		      </div>
		    </div>
		   </div>

		   <div class = "item">
		   <div class = "field">
		   <div class="ui green button">Add</div>
		   </div>

		   </div>


		    </div>


	</form>
	</div>
	</div>




<div class="ui styled fluid accordion">
  <div class="title">
  <div class = "ui grid">
    	<div class = "three wide column">
		    <i class="dropdown icon"></i>
		    Wednesday
		</div>
		<div class = "nine wide column">
		 <img class = "ui right align" src="http://placehold.it/14x14"/>
		 <img class = "ui right align" src="http://placehold.it/14x14"/>	
		</div>
		<div class = "four wide column">
		<p class = "ui left align">
		CLOSED </p>
		</div>
   </div>
  </div>
  <div class="content">
  </div>
</div>


<div class="ui styled fluid accordion">
  <div class="title">
  <div class = "ui grid">
    	<div class = "three wide column">
		    <i class="dropdown icon"></i>
		    Thursday
		</div>
		<div class = "nine wide column">
		 <img class = "ui right align" src="http://placehold.it/14x14"/>
		 <img class = "ui right align" src="http://placehold.it/14x14"/>	
		</div>
		<div class = "four wide column">
		<p class = "ui left align">
		CLOSED </p>
		</div>
   </div>
  </div>
  <div class="content">
  </div>
  </div>

<div class="ui styled fluid accordion">
  <div class="title">
  <div class = "ui grid">
    	<div class = "three wide column">
		    <i class="dropdown icon"></i>
		    Friday
		</div>
		<div class = "nine wide column">
		 <img class = "ui right align" src="http://placehold.it/14x14"/>
		 <img class = "ui right align" src="http://placehold.it/14x14"/>	
		</div>
		<div class = "four wide column">
		<p class = "ui left align">
		CLOSED </p>
		</div>
   </div>
  </div>
  <div class="content">
  </div>
  </div>

  
<div class="ui styled fluid accordion">
  <div class="title">
  <div class = "ui grid">
    	<div class = "three wide column">
		    <i class="dropdown icon"></i>
		    Saturday
		</div>
		<div class = "nine wide column">
		 <img class = "ui right align" src="http://placehold.it/14x14"/>
		 <img class = "ui right align" src="http://placehold.it/14x14"/>	
		</div>
		<div class = "four wide column">
		<p class = "ui left align">
		CLOSED </p>
		</div>
   </div>
  </div>
  <div class="content">
  </div>
  </div>

  <div class="ui styled fluid accordion">
  <div class="title">
  <div class = "ui grid">
    	<div class = "three wide column">
		    <i class="dropdown icon"></i>
		    Sunday
		</div>
		<div class = "nine wide column">
		 <img class = "ui right align" src="http://placehold.it/14x14"/>
		 <img class = "ui right align" src="http://placehold.it/14x14"/>	
		</div>
		<div class = "four wide column">
		<p class = "ui left align">
		CLOSED </p>
		</div>
   </div>
  </div>
  <div class="content">
  </div>
  </div>









{% endblock content%}