{% extends "base.html" %}
{% block content %}
<div class="ui segments">
	<div class="ui segment attached">
		<h1 class="ui header">Call Tracking
			<p class="sub header">Listen to calls made to your restaurant from the business day. You can also download Zomato for Business app in order to view call details.</p>
		</h1>
		<div class="ui horizontal bulleted list">
			<div class="item">
				<strong>ACD number</strong> 011 33105668
			</div>
			<div class="item">
				<strong>Mapped numbers</strong> +91 9810093807,+91 9818900025 
			</div>
		</div>
	</div>



	<div class="ui segment attached">
		<h2>Overview</h2>
		<div class="ui relaxed horizontal list">
			<div class="item">
				<div class="ui sub header">Total Answered Calls</div>
				<div class="ui orange header">
				350
				</div>
			</div>
			<div class="item">
				<div class="ui sub header">Total Call Minutes</div>
				<div class="ui green header">
				2204
				</div>
			</div>
			<div class="item">
				<div class="ui sub header">Total Orders</div>
				<div class="ui header">
				100
				</div>
			</div>
			<div class="item">
				<div class="ui sub header">Confirmed Covers</div>
				<div class="ui header">
				&mdash;
				</div>
			</div>
			<div class="item">
				<div class="ui sub header">Total Unanswered Calls</div>
				<div class="ui orange header">
				187
				</div>
			</div>												
		</div>





			<h2>Call List</h2>
			<div class="ui grid">
			  <div class="four column row">
			    <div class="thirteen wide column">
			    	
					<div class="ui horizontal list">
						  <a class="active item">
						    All (197)
						  </a> 
						  <a class="item">
						    Calls heard (0)
						  </a>
						  <a class="item">
						    Calls not heard (556)
						  </a>
						  <a class="item">
						    Invisible (0)
						  </a>
						  <a class="item">
						    Important (0)
						  </a>
						  <a class="item">
						    Missed (197)
						  </a> 
					</div>	


			    </div>
			    <div class="three wide column"><a href="#" class="ui tiny compact green right floated button">Export to Excel</a></div>
			  </div>
			</div>
		</div>
		<table class="ui table attached">
		  <thead>
		    <tr>
		      <th>Number</th>
		      <th>Called</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>


<div class="ui divided list">
  <div class="item">
    <div class="content">
      <a class="header">28 July 2:41pm for 32 seconds</a>
      <div class="meta">
        <span class="cinema">Inquiry for 40-50 people.</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
		<div class="ui label">Inquiry call</div>
        <div class="ui label">Complete customer details were not taken</div>
        <div class="ui right floated compact primary button">
          Play
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
      <a class="header">28 July 2:41pm for 32 seconds</a>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated compact primary button">
          Play
          <i class="right chevron icon"></i>
        </div>
      </div>
    </div>
  </div>

</div>


		      <div class="ui divided list">
		      	<div class="item">
		      	</div>
		      </div>


          <div class="ui divided list">
            <div class="item">
              <div class="content">
                <div class="header">+91989983XXXX<i class="circular icon inverted warning orange"></i></div> 
                <div class="description">
                  <div class="list">
                    <div class="item">28 July 2:41pm for 32 seconds</div>
                    <div class="item"><div class="ui label">Inquiry call</div><div class="ui label">Complete customer details were not taken</div></div>
                    <div class="item">Inquiry for 40-50 people.</div>        
                  </div>
                </div>
              </div>
            </div>
          </div>




		      </td>

		      <td class="top aligned"><a class="ui mini brown button compact"> Play</a> <a class="ui mini basic button compact">Add Notes</a> <a class="ui mini basic button compact">Call Quality</a></td>
		    </tr>
			    		    	    
		  </tbody>
		</table>
</div>

{% endblock content%}