{% extends "base.html" %}
{% block content %}

<div class="ui segments">
	<div class="ui segment attached">
		<h1 class = "ui header">Your Restaurant Details
		<div class = "sub header">Edit or add restaurant information on your Zomato page </div>
	</div>
	<div class="ui segment attached">
	<form class="ui form">
	  <div class="field">
	    <label>Postal Code</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>
	  <div class="field">
	    <label>Address</label>
	    <input type="text" value="Kanhi Colony, Opposite Gold Souk, Sector 44, Gurgaon" name="last-name" placeholder="Last Name">
	  </div>
	  <div class="field">
	    <label>Happy Hours</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>
	  <div class="field">
	    <label>Reservation</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>
	  <div class="field">
	    <label>Twitter Handle</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>	  

	  <div class="field">
	    <label>Phone Numbers</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>
	  <div class="field">
	    <label>Additional requests or details</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>



	  <button class="ui green button" type="submit">Save Changes</button>
	</form>
	</div>
</div>


{% endblock content%}
