{% extends "base.html" %}
{% block content %}

<div class="ui segments">
	<div class="ui segment attached">
		<h1 class = "ui header">Your Restaurant Details
		<div class = "sub header">Edit or add restaurant information on your Zomato page </div>
	</div>
	<div class="ui segment attached">
	<form class="ui form">
	  <div class="field">
	    <label>Postal Code</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>
	  <div class="field">
	    <label>Address</label>
	    <input type="text" value="Kanhi Colony, Opposite Gold Souk, Sector 44, Gurgaon" name="last-name" placeholder="Last Name">
	  </div>
	  <div class="field">
	    <label>Happy Hours</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>

	  

	  <div class="field">
	    <label>Phone Numbers</label>
	    <input type="text" value="122001"  name="first-name" placeholder="First Name">
	  </div>

<div class="ui secondary segment">
Facilities
</div>

<div class="ui secondary segment">
Features
</div>

<div class="ui segment attached">
Buffet
</div>


	<div class="field">
	    <label>Happy Hours</label>
	    <input type="text" value="23:00 AM"  name="first-name" placeholder="First Name">
	  </div>
	  <div class="grouped fields">
	    <label for="fruit">Table Bookings</label>
	    <div class="field">
	      <div class="ui radio checkbox">
	        <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
	        <label>Recommended</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="ui radio checkbox">
	        <input type="radio" name="fruit" tabindex="0" class="hidden">
	        <label>Required</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="ui radio checkbox">
	        <input type="radio" name="fruit" tabindex="0" class="hidden">
	        <label>Do not take reservations</label>
	      </div>
	    </div>
	    <div class="field">
	      <div class="ui radio checkbox">
	        <input type="radio" name="fruit" tabindex="0" class="hidden">
	        <label>Not required</label>
	      </div>
	    </div>
	  </div>
	<div class="field">
	    <label>Website</label>
	    <input type="text" value="www.9dc.com"  name="first-name" placeholder="First Name">
	  </div>

	  <div class="field">
	    <label>Twitter Handle</label>
	    <input type="text" value="9dpt"  name="first-name" placeholder="First Name">
		<p>Add your restaurant's Twitter handle here, so you can be notified when customers are tweeting about your restaurant.</p>
	  </div>

	  <div class="field">
	    <label>Facebook Page</label>
	    <input type="text" value="drogn9"  name="first-name" placeholder="First Name">
	  </div>	  
	  <div class="field">
	    <label>Additional requests or details</label>
	    <textarea rows="2" placeholder="If there is any additional information you would like to display on your restaurant page, such as features or cuisines not already listed above, please mention it here."></textarea>
	  </div>



	  <button class="ui green button" type="submit">Save Changes</button>
	</form>
	</div>
</div>


{% endblock content%}
