{% extends "base.html" %}
{% block content %}
	<div class="ui segments">
		<div class="ui segment">
			<h1 class="ui header">Online Ordering Settings
				<p class="sub header">Change or edit your online ordering settings.</p>
			</h1>
		</div>
		<div class="ui secondary segment attached">
			<p> To make any changes to these contact <a href="#">palakshee@zomato.com</a></p>
		</div>
		<div class="ui segment attached">
			<h2>Order Settings</h2>
			<div class="ui equal width grid">
				<div class="column">
					<h3>Order Hours</h3>
					<table class="ui very basic compact single line table">
						<tr>
							<td>Mon</td>
							<td>11:00 AM - 11:00PM</td>
						</tr>
						<tr>
							<td>Tue</td>
							<td>11:00 AM - 11:00PM</td>
						</tr>
						<tr>
							<td>Wed</td>
							<td>11:00 AM - 11:00PM</td>
						</tr>
						<tr>
							<td>Thu</td>
							<td>11:00 AM - 11:00PM</td>
						</tr>
						<tr>
							<td>Fri</td>
							<td>11:00 AM - 11:00PM</td>
						</tr>
						<tr>
							<td>Sat</td>
							<td>11:00 AM - 11:00PM</td>
						</tr>
						<tr>
							<td>Sun</td>
							<td>11:00 AM - 11:00PM</td>
						</tr>
					</table>
				</div>
				<div class="column ">
					<h3>Minimum Order</h3>
					<div>$50</div>
					<h3>Promised Delivery Time</h3>
						<div>45 minutes &nbsp;<div class="ui small label red">Often Late</div>
						<div><i class="motorcycle icon"></i> Using Zomato Logistics</div>
					</div>
					<h3>Additional Charges</h3>
					<div>Delivery Charge $50</div>
					<div>Packing Charge $50</div>
				</div>
				<div class="column">
					<h3>Delivery Areas</h3>
					<div class="ui segment">
						<h4>Tier 1</h4>
						<p class="ui label">Suncity, Sector 54, Gurgaon (0.67km)<i class="delete icon"></i></p>
						<p class="ui label">Suncity, Sector 54, Gurgaon (0.67km)<i class="delete icon"></i></p>
						<div><a href="#">View All</a></div>
					</div>
				</div>			
			</div>
		</div>
		<div class="ui segment attached">
			<h2>Order Contacts and Notifications</h2>
			<div class="ui equal width grid">
				<div class="column">
					<h4>Manager Email</h4> 
					<div>nipun.soodan@tippingmrpink.com</div>

					<h4>Manager Mobile </h4>
					<div>
						<p>+919821600829</p>
						<p>Notifications regarding new orders will be sent to the email and mobile provided above.</p>
					</div>

				</div>
				<div class="column ">
				<h4>Owner Email </h4>
				<div>nitin.rana@tippingmrpink.com</div>

				<h4>Owner Mobile </h4>
				<div>+918800146890</div>
				</div>
				<div class="column">
				<h4>Priority Order Number</h4>

				<div>+91 9821-600-829</div>

				<h4>Order Only Number:</h4>
				<div>1244225961</div>					
				</div>
			</div>			
		</div>
	</div>



		<div class="ui segment attached">
			<h2>Order Notifications</h2>
			<div class="ui equal width grid">
				<div class="column">

				

				</div>
				<div class="column">
	










			<h3>Primary PoC for Burger Singh</h3>
				Kabir Jeet
				9990278948
				kj@tippingmrpink.com


			<h3>Payments</h3>
			<p>Kabir Jeet HDFC Bank 50200007945800</p>

			<h3>Contract Terms</h3>
			Commission Slab 1

		</div>

		<div class="ui segment attached">
			<h2>Contract and Payments</h2>



			<h3>Payments</h3>
			<p>Kabir Jeet HDFC Bank 50200007945800</p>

			<h3>Contract Terms</h3>
			Commission Slab 1

		</div>

		


		

		<div class="ui segment attached">
			
		</div>


	</div>	

{% endblock content%}
