{% extends "base.html" %}
{% block content %}

<div class="ui small modal active scrolling">
	  <i class="close icon"></i>
	  <div class="header">
	   Payment Details
	  </div>
	<div class="content">
      <table class="ui  simple table">
      	<tr>
      		<td>Subscription ID</td>
      		<td>ZF-40-CFCB34415</td>
      	</tr>
       	<tr>
      		<td>Transaction ID</td>
      		<td>ZTSCH-16-E3EA694B380</td>
      	</tr>
       	<tr>
      		<td>Payment date</td>
      		<td>29th January 2016</td>
      	</tr>
       	<tr>
      		<td>Outlet(s)</td>
      		<td>Lokál Nad Stromovkou, Bubeneč <br>  Lokál Nad Stromovkou, Bubeneč</td>
      	</tr>
       	<tr>
      		<td>Amount</td>
      		<td>₹ 3025</td>
      	</tr>
       	<tr>
      		<td>Purchased by</td>
      		<td>Aiswarya Kolisetty</td>
      	</tr>  
      </table>
	</div>
	<div class = "content">
		<div class="ui basic mini grey button"> Download PDF </div>
	</div>
	<div class="content">
		<p><small>Please email us at <a href= "#">merchant@zomato.com</a> to request further details on your payment history.</small></p>
		</div>	

</div>

<div class="ui segments">
	<div class="ui segment attached">
		<h1 class="ui header">Payment History
			<div class="sub header">View payment history for Zomato for Business.</div>
		</h1>
	</div>	

<table class="ui celled striped table attached">
		  <thead>
		    <tr>
		    	<th>Transaction ID</th>
		    	<th>Purchased by</th>
		    	<th>Amount</th>
		    	<th>Paid using</th>
		    	<th>Status</th>
		    	<th>View more</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    	<td>ZTSCH-16-E3EA694B380</td>
		    	<td>Aiswarya Kolisetty on March 28, 2016</td>
		    	<td> Rs. 12,400 </td>
		    	<td>-XXXXXX-</td>
		    	<td>Success</td>
		    	<td><a class="ui basic mini grey button">Details</a></td>
		    </tr>		 
		    <tr>
		    	<td>ZTSCH-16-E3EA694B380</td>
		    	<td>Aiswarya Kolisetty on March 28, 2016</td>
		    	<td> Rs. 12,400 </td>
		    	<td>-XXXXXX-</td>
		    	<td>Success</td>
		    	<td><a class="ui basic mini grey button">Details</a></td>
		    </tr>
		    <tr>
		    	<td>ZTSCH-16-E3EA694B380</td>
		    	<td>Aiswarya Kolisetty on March 28, 2016</td>
		    	<td> Rs. 12,400 </td>
		    	<td>-XXXXXX-</td>
		    	<td>Success</td>
		    	<td><a class="ui basic mini grey button">Details</a></td>
		    </tr>   
		  </tbody>
		</table>

		<div class="ui segment bottom attached">
		<p><small>Please email us at <a href= "#">merchant@zomato.com</a> to request further details on your payment history.</small></p>
		</div>	


</div>


{% endblock content%}