{% extends "base.html" %}

{% block title %}Ad Performance - V9{% endblock %}

{% block content %}

<!--AD PERFORMANCE HEADER -->

 <div class="ui yellow segment" style = "margin-top:0px;">
      <h1 class="ui header">Performance of your advertisements
        <!--<div class="sub header">Analyze the performance of your advertising campaigns on Zomato.</div>-->
      </h1>
 </div>

  <!-- OVERVIEW TABLE-->
  <div class = "ui yellow secondary segment top attached" id="sectionheader">
	   <h3 class = "ui header" id="sectioncontent">You had 3 active ads in these 31 days (August 1 -31, 2016)
	   <!--<div class = "sub header">Status: 3 ads are still live today, 2 ads have ended.</div>-->
	   </h3>
  </div>

<!--OVERVIEW TABLE-->
<table class="ui celled structured table bottom attached">
	<thead>
          <th style = "width:33%">
          	<div class = "ui items">
          		<div class = "item">
          			Overview of all ads 
          		<div class = "content" style = "font-weight:normal; padding-left:10px;">
	          		
	          	</div>
	          </div>
	         </div>
	      </th> 
          <th style = "width:33%">
          	<div class = "ui items">
          		<div class = "item">
          			Total unique ad views
          		<div class = "content" style = "font-weight:normal; padding-left:10px">
	          		<a class = "test2 button"><small><i>What's this?</i></small></a>
	          	</div>
	          </div>
	         </div>
          </th>
          <th style = "width:33%">
          <div class = "ui items">
          		<div class = "item">
          			Total unique ad clicks
          		<div class = "content" style = "font-weight:normal; padding-left:10px">
	          		<a class = "test3 button"><small><i>What's this?</i></small></a>
	          	</div>
	          </div>
	         </div>
          </th>
      </thead>

      <tbody>
        <tr class = "top aligned">
          <td>
          <div class="ui items">
              <div class="item">
                <div class="content">                 
                  <h4 class="ui header"><b>3 active advertisements</b></h4>
                  <!--<div class="description">
                    <span><small>July 16, 2016 - August 8, 2016</small></span>
                  </div>-->
                  <div class="extra">
                  <!--<small><span style = "color:black">Ad spend during this time: Rs. 2,70,199 of total <br>Rs. 5,34,204 </span> <a class = "test4 button"><small><i>What's this?</i></small></a></small><br>-->
                  <small><span style = "color:black">Ad spend from August 1-31, 2016: Rs. 2,70,199</span><br> <a class = "test4 button"><small><i>What's this?</i></small></a></small>
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">   
                  <h4 class="ui header"><b>2,73,508 unique people viewed ads</b></h4>
                  <div class="extra">
                  <small><span style = "color:black">Cost per unique ad view: Rs. 0.92 </span> <a class = "test5 button"><small><i>  What's this?</i></small></a>
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">                 
                  <h4 class="ui header"><b>2,160 unique people clicked on ads</b></h4>
                  <!--<div class="meta" style = "color:black;">
                    <span><b>0.79% click through rate</b></span><a class = "test9 button"><small><i>  What's this?</i></small></a>
                  </div>-->
                  <div class="extra">
                  <small><span style = "color:black">Cost per unique ad click: Rs. 113 </span><a class = "test6 button"><small><i>What's this?</i></small></a></small>
                  </div>
                   <div class="extra">
                  <!--<small><span style = "color:#2185D0"><a href="analytics.html" style = "color: #2185D0"> See how this increased page views </a><i class = "caret right icon"></i> </span></small>-->
                  </div>
                </div>
              </div>
             </div> 
          </td>
     <!--<td>
            <div class="ui items">
              <div class="item">
                <div class="content">                 
                  <h3 class="ui header">46 orders from clicks</h3>
                  <h3 class="ui header">113 calls from clicks</h3>
                  <div class="extra">
                    <p><i><small>1 in every 4 clicks usually converts to business over a 30 day period.  For example, between July 9 - August 8, 2016, this restaurant recieved 138 transactions from 557 ad clicks. <u>Minimize</u> <i class = "caret up icon"></i></small></p>

                    <br><br> We expect "x to y" more transactions in the next 29 days from these clicks. (only to show when end date is less than 30 days from today)</i></p>
                 
                    <span><small><a href="#">See how Transactions have changed with ads <i class = "caret right icon"></i></a></small></span>
                  </div>
                </div>
              </div>
             </div> 
          </td>-->
      </tr>
      </tbody>
</table>
<!--OVERVIEW TABLE-->


<!--====================================================================================-->
<!--====================================================================================-->


<!--CONTRIBUTION TABLE-->

  <div class = "ui yellow secondary segment top attached" id="sectionheader">
	   <h4 class = "ui header" id="sectioncontent">Contribution of each advertisement in these 31 days (August 1 - 31, 2016)
	   <!--<div class = "sub header">Status: 3 ads are still live today, 2 ads have ended.</div>-->
	   </h4>
  </div>


	<table class = "ui celled compact structured striped table bottom attached fluid">
		<thead>
	      <th style = "width:33%">
	       	<div class = "ui items">
          		<div class = "item">
          			Advertisement
          		<div class = "content" style = "font-weight:normal; padding-left:5px">
	          	</div>
	          </div>
	         </div>
	       </th> 

	      <th style = "width:33%">
	      	<div class = "ui items">
          		<div class = "item">
          			Unique ad views
          		<div class = "content" style = "font-weight:normal; padding-left:5px">
	          		<a class = "test2 button"><small><i>What's this?</i></small></a>
	          	</div>
	          </div>
	         </div> 
	      </th>
	      <th style = "width:33%">
	      	<div class = "ui items">
          		<div class = "item">
          			Unique ad clicks 
          		<div class = "content" style = "font-weight:normal; padding-left:5px">
	          		<a class = "test3 button"><small><i>What's this?</i></small></a>
	          	</div>
	          </div>
	         </div>
	      </th>
	   </thead>
		<tbody>
			<tr class = "top aligned">
		          <td><small><span style = "color:#000000"> Sector 29, Nightlife, Slot 1  </span> </a><br><span id="views-detail"> Ad spend from August 1-31, 2016: Rs. 1,13,836</span><br><span style = "color:#1ca93d">Live for all 31 days in selected time period</span></small><br><div class= "ui basic teal mini label middle aligned">Banner</div></td>
		          <td><small><span id = "contribution-title">2,64,450 unique people viewed the ad</span> <br> <span id = "views-detail">Cost per unique ad view: Rs. 0.40</span></td>
		          <td><small><span id = "contribution-title">1936 unique people clicked on the ad<!--<br>0.75% click through rate --></span><br> <span id = "views-detail">Cost per unique ad click: Rs. 54</span></small>
		          </td>		    
		    </tr>
		    <tr class = "top aligned" colspan="5">
		          <td><small><span style = "color:#000000"> Cyber City, Mobile Showcase, Slot 1 </span></a><br><span id="views-detail">Ad spend from August 1-31, 2016: Rs. 97,088</span><br><span style = "color:#1ca93d">Live for all 31 days in selected time period</span></small><br><div class= "ui basic yellow mini label left middle aligned">Mobile Showcase</div></td>
		          <td><small> <span id = "contribution-title">8,323 unique people viewed the ad</span><br> <span id = "views-detail">Cost per unique ad view: Rs. 10.84</span></small></td>
		          <td> <small><span id = "contribution-title">207 unique people clicked on the ad<!--<br>2.63% click through rate --></span><br> <span id = "views-detail">Cost per unique ad click: Rs. 413 </span></small>
		          <i class="blue idea icon"
		          	data-html="<div class='ui mini info message'>
					  <div class='header'>
					    How can you reduce the cost per unique click? 
					  </div>
					  <p>Your cost per unique ad click is impacted by your click through rate (CTR), currently 0.63%.  You can reduce cost per unique ad click by working on your CTR.  One way to do this is to update your ad creatives.</p>
					  <p><small>You can learn more about your CTR in the chart below.</small></p>
					</div>" data-variation="basic" data-position ="bottom left">
		          </i>
		          </td>	
			</tr>
		    <tr class = "top aligned" colspan="6">
		          <td><small><span style = "color:#000000"> Summer Cocktails, Slot 1 </span></a><br><span id="views-detail">Ad spend from August 1-31, 2016: Rs. 59,275</span><br><span style = "color:#CB202D">Live for 5 days in selected time period</span></small><br><div class= "ui basic violet mini label middle aligned">Collection</div></td>
		          <td><small><span id = "contribution-title">735 unique people viewed the ad</span> <br> <span id = "views-detail">Cost per unique ad view: Rs. 48.34</span></small></td>
		          <td> <small><span id = "contribution-title">17 unique people clicked on the ad<!--<br>2.28% click through rate--> </span><br><span id = "views-detail">Cost per unique ad click: Rs. 2,117</span></small>
		          <i class="blue idea icon"
		          	data-html="<div class='ui mini info message'>
					  <div class='header'>
					    How can you reduce the cost per unique ad click?
					  </div>
					  <p>Your cost per unique ad click is impacted by your click through rate (CTR), currently 0.63%.  You can reduce cost per unique ad click by working on your CTR.  One way to do this is to update your ad creatives.</p>
					  <p><small>You can learn more about your CTR in the chart below.</small></p>
					</div>" data-variation="basic" data-position ="bottom left">
		          </i>
		          </td>		          
		    </tr>
		</tbody>
	</table>
	

<!--END CONTRIBUTION TABLE-->

  <div class="ui pointing blue menu" id="ad-selector">
      <a class="item">
        <h4>Detailed view:</h4>
      </a>
      <a class="item active" data-tab="first">
        Sector 29, Nightlife, Row 1 Left
      </a>
      <a class="item"   data-tab="second">
        Cyber City, Mobile Showcase, Slot 1
      </a>
      <a class="item" data-tab="third">
        Summer Cocktails, Slot 1
      </a>

      <div class = "right menu">
        <div class = "item">
          <i class="caret right icon"></i>
        </div>
      </div>

  </div>
<div class = "active ui tab segments" data-tab="first">
		<div class = "ui negative message">
		<i class = "refresh icon"></i>
		This advertisement is expiring in 30 days.  Get in touch with your Zomato relationship manager to continue advertising.
	</div>
	
	<div class = "ui yellow segment top attached">

		<div class = "ui items">
	  	  <div class = "item">
	  	    <div class = "ui tiny image">
	    		<a class = "test button"><img src="{% static '/images/molecule.jpg' %}"></a>
	    	</div>
	      <div class = "content">
			    <h3 class = "ui header middle aligned test button"><a><u>Sector 29, Nightlife, Row 1 Left</u></a> <div class= "ui basic teal mini label middle aligned">Banner</div></h3>
			    <!--<h3 class = "ui header middle aligned"><a>Sector 29, Nightlife, Row 1 Left</a> <div class= "ui basic teal mini label middle aligned">Banner</div></h3>-->
			    <div class = "meta">
			    	<span style = "color:#1ca93d">Live for all 31 days in selected time period</span> <br>
			    	 
			    </div>

			    <div class = "description">
			    <small>
			    Total ad duration: July 16, 2016 - October 18, 2016 <br>
			    Total ad spend for entire duration: Rs. 2,23,345</small>
			    </div>
	      </div>
	    </div>
	    </div>
	</div>

	<div class = "ui segment attached">

	<div class = "ui message">
		<i class = "announcement icon"></i>
		The banner lands on <a href="#"><u>this chain page</u></a>.  Every restaurant on the chain page will show the advertising results for this banner.  
	</div>

			<img style = "width:884px; height:432px" src="{% static '/images/molecule-v2/v9/performance-graph-banner-unique-views@2x.png' %}"/>
			<!--<a class = "test7 button"><small><i>What's this?</i></small></a>-->
		

			<img style = "width:884px; height:432px" src="{% static '/images/molecule-v2/v9/relevance-hourly-weekday-weekend@2x.png' %}"/>
			<!--<a class = "test8 button"><small><i>What's this?</i></small></a>-->
	</div>
</div>

<div class = "ui tab segments" data-tab="second">
	<div class = "ui yellow segment top attached" id="sectionheader">

		<div class = "ui items">
	  	  <div class = "item">
	  	    <div class = "ui small image">
	    		<img src="{% static 'images/mobile-showcase.jpg' %}">
	    	</div>
	      <div class = "content">
			    <!--<h3 class = "ui header middle aligned test button"><a>Cyber City, Mobile Showcase, Slot 1</a><div class= "ui basic yellow mini label middle aligned">Premium Slider</div></h3>-->
			    <h3 class = "ui header middle aligned test10 button"><a>Cyber City, Mobile Showcase, Slot 1</a><div class= "ui basic yellow mini label middle aligned">Premium Slider</div></h3>
			    <div class = "meta">
			    	<span style = "color:#1ca93d">Live for 5 days in selected time period</span> <br>
			    	 
			    </div>

			    <div class = "description">
			    <small>
			    Total ad duration: June 1 - August 31, 2016 <br>
			    Total ad spend: Rs. 1,23,344 </small>
			    </div>
	      </div>
	    </div>
	    </div>
	</div>
	<div class = "ui segment attached">

		<img style = "width:884px; height:475px" src="{% static '/images/molecule-v2/v9/performance-graph-mobile-unique-clicks@2x.png' %}"/>

		<img style = "width:884px; height:432px" src="{% static '/images/molecule-v2/v9/relevance-hourly-weekday-weekend@2x.png' %}"/>
	</div>
</div>

<div class = "ui tab segments" data-tab="third">
	<div class = "ui yellow segment top attached" id="sectionheader">

		<div class = "ui items">
	  	  <div class = "item">
	  	    <div class = "ui small image">
	    		<img src="{% static '/images/collection-view.jpg' %}">
	    	</div>
	      <div class = "content">
			    <!--<h3 class = "ui header middle aligned test button"><a>Summer Cocktails, Slot 1 </a><div class= "ui basic violet mini label middle aligned">Collection</div></h3>-->
			    <h3 class = "ui header middle aligned test11 button"><a>Summer Cocktails, Slot 1 </a><div class= "ui basic violet mini label middle aligned">Collection</div></h3>
			    <div class = "meta">
			    	<span style = "color:#1ca93d">Live for 5 days in selected time period</span> <br>
			    	 
			    </div>

			    <div class = "description">
			    <small>
			    Total ad duration: June 16 - September 15, 2016 <br>
			    Total ad spend: Rs. 2,02,234</small>
			    </div>
	      </div>
	    </div>
	    </div>
	</div>
	<div class = "ui segment attached">

		<img style = "width:884px; height:432px" src="{% static '/images/molecule-v2/v9/performance-graph-collection-unique-ctr@2x.png' %}"/>

		<img style = "width:884px; height:432px" src="{% static '/images/molecule-v2/v9/relevance-hourly-weekday-weekend@2x.png' %}"/>
	</div>
</div>

<!--BANNER IMAGES TEXT MODAL-->
<div class="ui standard test modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <div class = "header">
	  <h3 class="ui header">
		    Sector 29, Nightlife, Slot 1
		    <div class = "sub header">Placement of your ad creative on Zomato </div>
	  </h3>
	  <!--<div class = "ui mini basic blue button">View on Zomato search page</div>
	  <div class = "ui mini basic blue button">View on Zomato subzone page</div>-->
  </div>

  <div class="content">
  	<img src="{% static '/images/molecule-v2/v9/banner-preview.png' %}"/>
  </div>
  <div class="actions" style="text-align:left">
  <p><small>For changes to ad creatives, please contact your Zomato relationship manager.</small></p>
  </div>
</div>
<!--END BANNER IMAGES TEXT MODAL-->

<!--MPS IMAGE TEXT MODAL-->
<div class="ui standard test10 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <div class = "header">
	  <h3 class="ui header">
		    Cyber City, Mobile Showcase, Slot 1
		    <div class = "sub header">Visual of your advertisement on Zomato. </div>
	  </h3>
 
  </div>

  <div class="image content">
  	<img src="{% static '/images/mobile-showcase.jpg' %}"/>
  </div>
  <div class="actions" style="text-align:left">
  <p><small>For changes to ad creatives, please contact your Zomato relationship manager.</small></p>
  </div>
</div>
<!--END MPS IMAGE TEXT MODAL-->

<!--COLLECTION IMAGE TEXT MODAL-->
<div class="ui standard test11 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <div class = "header">
	  <h3 class="ui header">
		    Summer Cocktails, Slot 1
		    <div class = "sub header">Visual of your advertisement on Zomato. </div>
	  </h3>
 
  </div>

  <div class="image content">
  	<img class = "image" src="{% static '/images/collection-view.jpg' %}"/><br>
  </div>
  <div class="actions" style="text-align:left">
  <p><small>For changes to advertisement images or text, please contact your Zomato relationship manager.</small></p>
  </div>
</div>
<!--END COLLECTION IMAGE TEXT MODAL-->


<!--HELP AD VIEW MODAL-->
<div class="ui standard test2 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <h3 class="ui header"> What are unique ad views? </h3>
  	<div class = "content">
  		<!--<div class = "ui large image top align"><img src="{% static '/images/help-ad-view@2x.png' %}"/></div>-->
  	<div class = "description top align">
  		<!--<p><b>A unique ad view is counted every time a new customer views your ad on the Zomato website or app within a day.</b></p>
  		<p><b>What are unique ad views? </b> <br>-->The number of unique people who viewed your ad within a day (between 00:00 and 23:59).  Even if a person viewed your ad multiple times within the same day, it is still counted as one unique ad view. </p>
  		<p><b>Why do unique ad views matter?</b><br>  Unique ad views tell you how many unique people saw your ad and got to know about your restaurant.  <!--More unique ad views mean greater number of people have seen your ad and are exposed to your restaurant.--> </p>
  		<!--<p>(CAPTION)In the image, the ad got an additional unique ad view from a customer.</p>-->
  	 </div>
   </div>	
 </div>
<!--END HELP AD VIEW MODAL-->

<!--HELP AD CLICK MODAL-->
<div class="ui standard test3 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <h3 class="ui header"> What are unique ad clicks? </h3>
  	<div class = "content">
  		<!--<div class = "ui huge image top align"><img src="{% static '/images/help-ad-click@2x.png' %}"/></div>-->
  	<div class = "description top align">
  		<p>The number of unique people who clicked on your ad within a day (between 00:00 and 23:59).  Even if a person clicked on your ad multiple times within the same day, it is still counted as one unique ad click.</p>
  		<p><b>Why do unique ad clicks matter? </b><br>  Unique ad clicks indicate the number of people who showed intent to visit or order from your restaurant.  </p>
  		<p><i class="blue idea icon"></i>Tip: Updated photos, menus, and information on your restaurant page leads to a better chance of this intent converting to business. </p>   <!--bring the person to the restaurant page and they are one step closer to generating business for your restaurant. Unique ad clicks indicate interest in your ad and lead people to your Zomato restaurant page.--> </p>

  		<!--<p>(CAPTION)In the image, when a unique customer clicks an ad, it is counted as a unique ad click.</p>-->
  		
  	 </div>
   </div>	
 </div>
<!--END HELP AD CLICK MODAL-->


<!--HELP CTR MODAL-->
<div class="ui standard test9 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <h3 class="ui header"> What is click through rate? </h3>
  	<div class = "description top align">
  		<p><b>Click through rate (CTR)</b><br>
  		Click through rate measures the effectiveness of your ad. It is a percentage displaying the unique customers who clicked on the ad compared to the unique customers who viewed the ad. </p>
  		<p><b>CTR = (Unique ad clicks) / (Unique ad views)</b></p>
  		<p><b>How can you increase your CTR?</b><br> Changing your banner images or banner text can increase your click through rate. Speak to your Sales representative at Zomato to make these changes. </p>
  		
  	 </div>
 </div>
<!--END CTR MODAL-->

<!--AD INVESTMENT MODAL-->
<div class="ui standard test4 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <h3 class="ui header"> What is the ad spend during this time? </h3>
  	<div class = "content">
  	<div class = "description">
  		<!--<p>The ad spend is prorated for this time period and is derived from your total predicted ad spend for this campaign.  </p>-->
  		<p> This is the amount that you spent during the selected time period of August 1-31, 2016.  This is not the total spend for all ads.  Your total spend for all ads is Rs. 5,39,493 for the entire duration of June 1 - November 1, 2016. </p> 

  		<!--<p>It is the fraction of your total campaign amount spent in the selected time period.  For Aug 1-31, 2016, you spent Rs. 2,30,400 out of total campaign amount of Rs. 5,39,493*.  </p>
  		<p><small>*The total campaign amount is for the entire ad duration of June 1 - November 1, 2016. </small> </p>-->
  	 </div>
   </div>	
 </div>
<!--END AD INVESTMENT MODAL-->

<!--CPM MODAL-->
<div class="ui standard test5 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <h3 class="ui header"> What is cost per unique ad view? </h3>
  	<div class = "content">
  	<div class = "description">
  		<p>Cost per unique ad view = (Ad spend in selected time period) / (Number of unique ad views) </p>
  		
  	 </div>
   </div>	
 </div>
<!--END CPM MODAL-->

<!--CPC MODAL-->
<div class="ui standard test6 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <h3 class="ui header"> What is cost per unique ad click? </h3>
  	<div class = "content">
  	<div class = "description">
  		<!--<p><b>Cost per unique ad click is the cost of every unique ad click on the Zomato platform. It is another way to represent your ad spend in the selected time period. </b></p>-->
  		<p>Cost per unique ad click = (Ad spend in selected time period) / (Number of unique ad clicks)</p>
  	 </div>
   </div>	
 </div>
<!--END CPC MODAL-->

<!--PERFORMANCE OF THE AD-->
<div class="ui standard test7 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <h3 class="ui header"> Performance of the ad </h3>
  	<div class = "content">
  	<div class = "description">
  		<p> Performance of the ad can be measured in terms of unique ad views, unique ad clicks, and click through rate (CTR).</p>
  		<p><b>Unique ad views</b>
  		<br>You can see the daily average unique ad views by weekday (Monday - Thursday) and weekend (Friday - Sunday).  We have separated weekday and weekend given the different user behavior during these times.  The graph shows unique ad views per day for the selected time period.
  		</p>
  		<p><b>Unique ad clicks</b>
  		<br> You can see the daily average unique ad clicks by weekday (Monday - Thursday) and weekend (Friday - Sunday).  We have separated weekday and weekend given the different user behavior during these times.  The graph shows unique ad clicks per day for the selected time period.
  		</p>
  		<p><b>Click through rate (CTR) comparison</b>
  		<br>In addition to your advertisement's click through rate, we provide a comparison to the click through rate of other advertisers in the same category and ad zone.  The graph shows your CTR and other advertisers' CTR. 
  		</p>
  	 </div>
   </div>	
 </div>
<!--PERFORMANCE OF THE AD-->

<!--RELEVANCE OF THE AD-->
<div class="ui standard test8 small modal scrolling transition hidden" style="top: 2825px;">
  <i class="close icon"></i>
  <h3 class="ui header"> Relevance of the ad </h3>
  	<div class = "content">
  	<div class = "description">
  		<p>Relevance of the ad demonstrates how the ad is displayed and clicked by Zomato users during the course of a day.</p>
  		<p><b> Distribution of unique ad views by the hour</b></p>
  		<p>This is an hourly distribution of ad views during the day (00:00 to 23:59).  See two graphs that show the split between weekday and weekend trends.  </p>
  		<p><b> Distribution of unique ad clicks by the hour</b></p>
  		<p>This is an hourly distribution of ad clicks during the day (00:00 to 23:59).  See two graphs that show the split between weekday and weekend trends.  </p>
  	 </div>
   </div>	
 </div>
<!--PERFORMANCE OF THE AD-->


<!--=====================================================-->
<!--=======================================s==============-->


<!--STYLE-->
<style>

body {
	font-family: 'Lato' !important;
}
.ui.header {
	font-family: 'Lato'!important;
}

.ui.yellow.segment:not(.inverted) {
    border-top: 2px solid #B49E62;
}

.ui.menu {
	font-family: 'Lato'!important;
}



.ui.basic.green.buttons .button, .ui.basic.green.button {
    box-shadow: 0px 0px 0px 1px #B49E62 inset;
    color: #B49E62;
}

.ui.table {
	font-family: 'Lato' !important;
}
.ui.table thead th {
    color: rgba(0, 0, 0, 0.6);
}

a {
	color: #676767;
}

.ui.basic.yellow.label, .ui.basic.yellow.labels .label {
    border-color: #c3ac67!important;
    color:#c3ac67!important;
}

/*#ad-selector .ui.menu{
    border: 1px solid #B49E62;
}


#ad-selector .ui.pointing.menu:not(.tabular) {
    border: 2px solid #B49E62;
}

#ad-selector .ui.pointing.menu .item:after {
    border-bottom: 1px solid #B49E62;
    border-right: 1px solid #B49E62;
}*/

.ui.mini.label {
    font-size: 0.54285714rem;
}

#views-detail{
	color:rgba(0, 0, 0, 0.6);
}

#contribution-title{
	font-weight:600;
}

</style>




<!--END STYLE-->





{% endblock content%}