{% extends "base.html" %}
{% block content %}

    <div class="ui segment">
      <h1 class="ui header">Your Ad Performance
        <div class="sub header">Performance of your advertising campaigns active in the selected time period.</div>
      </h1>
    </div>

    <div class = "ui segment">
      <h4 class = "ui header middle aligned"> Showing all advertisements between July 1 - July 31, 2016 
      <button class = "ui basic mini green button right floated"> Change date range </button>
      </h4>
    </div>

<div class="ui segments">
  <div class="ui yellow segment">
    <h2 class = "ui header middle aligned"> Overview of all advertisements</h2>
  </div>
  <div class="ui horizontal segments">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Views of all advertisements
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">8,17,481 ad views</div> 

                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Clicks on all advertisements
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3136 ad clicks</div> 
                  <div class="meta">
                    <span>0.32% click through rate</span>
                  </div>
                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Actions from ad clicks
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3 orders from clicks <br>
                  2 calls from clicks</div>
                  <div>
                    <span><small style = "color:#3D83E1">See how order volume changed with ads <i class="caret right icon"></i></small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
</div>


<div class="ui segments">
  <div class="ui segment">
    <h4 class = "ui header middle aligned"> Total investment</h4>
  </div>
  <div class="ui horizontal segments">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Total investment in ads
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 21,00,500</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per thousand ad views
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 115 per thousand ad views</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per ad click
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 20 per ad click </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
</div>



<div class="ui segments">
  <div class="ui secondary segment">
    <h2 class = "ui header middle aligned"><a> Anna Nagar West, Delivery Slot 2 </a></h2>
    <p><small> Live: Started 5 days ago (July 1 - August 15, 2016)</small></p>
  </div>
  <div class="ui horizontal segments">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Views of all advertisements
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">8,17,481 ad views</div> 

                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Clicks on all advertisements
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3136 ad clicks</div> 
                  <div class="meta">
                    <span>0.32% click through rate</span>
                  </div>
                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Actions from ad clicks
                  <i class="help circle icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3 orders from clicks <br>
                  2 calls from clicks</div>
                  <div>
                    <span><small style = "color:#3D83E1">See how order volume changed with ads <i class="caret right icon"></i></small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
</div>

<div class = "ui segments">
    <div class = "ui segment attached">
          <div class="ui grey sub header">Ad views for Anna Nagar West, Delivery Slot 2
            </div>
    </div>

      <div class = "ui pointing menu attached">
              <a class="active item">Ad views</a>
              <a class="item">Ad clicks</a>
              <a class="item">Click through rate</a>

        <div class="right menu">
            <div class="ui dropdown item">
              Daily <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item">Weekly</a>
                <a class="item">Monthly</a>
                <a class="item">Yearly</a>
              </div>
            </div>
      </div>
    </div>

    <div class = "ui segment attached">
      <img src="http://placehold.it/882x350"/>
    </div>


</div>






  <!--Table

      <table class="ui celled striped table attached">
      <thead>
        <tr>
          <th>Campaign </th>
          <th>Impressions <a href="#" class="circular ui mini icon button"><i class="info icon"></i></a></th>
          <th>Clicks</th>
          <th>Estimated Business from Ads <a href="#" class="circular ui mini icon button"><i class="info icon"></i></a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">Campaign 1</a> 
                  <div class="meta">
                    <span>Nightlife + Golf Course Road</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    15 Jul - 5th Aug
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">26000 impressions</a> 
                  <div class="meta">
                    <span>23,345 unique users</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    90% during peak hours
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">85 clicks</a> 
                  <div class="meta">
                    <span>0.15% CTR</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    90% during peak hours
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">₹5000</a> 
                  <div class="meta">
                    <span>Spend: ₹200 per customer</span>
                  </div>
                  <div>
                    <span><small>₹150 per click &middot; ₹800 per impression</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    ROI: 1.5x
                  </div>
                </div>
              </div>
             </div>             
          </td>
        </tr>  

        <tr>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">Campaign 2</a> 
                  <div class="meta">
                    <span>Nightlife + Sector 29</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    15 Jun - 5th Aug
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">32000 impressions</a> 
                  <div class="meta">
                    <span>28,345 unique users</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    45% during peak hours
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">160 clicks</a> 
                  <div class="meta">
                    <span>0.15% CTR</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    90% during peak hours
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">₹28000</a> 
                  <div class="meta">
                    <span>Spend: ₹150 per customer</span><br/>
                  </div>
                  <div>
                    <span><small>₹150 per click &middot; ₹800 per impression</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    ROI: 1.5x
                  </div>
                </div>
              </div>
             </div>             
          </td>
        </tr>                         
      </tbody>
    </table>

    -->
  



		



{% endblock content%}
