{% extends "base.html" %}
{% block content %}
<!--<div class="ui small modal active scrolling">
	  <i class="close icon"></i>
	  <div class="header">
	   Order Details
	  </div>
	<div class="content">
      <table class="ui  striped table">
      	<tr>
      		<td>Hot Bihari Sauce<br/>1 x ₹ 20</td>
      		<td>₹ 20</td>
      	</tr>
      	<tr>
      		<td>White Guy Chicken Burger<br/>
Option : Make a Combo [Fries+Beverage]<br/>
Beverage : Fizzy<br/>
Fries : French Fries<br/>
<br/>1 x ₹ 20
</td>
      		<td>₹ 298
</td>

      	</tr>
       	<tr>
      		<td>Subtotal</td>
      		<td>₹ 318</td>
      	</tr>
       	<tr>
      		<td>S.B. Cess</td>
      		<td>₹ 0.63</td>
      	</tr>
       	<tr>
      		<td>Krishi Kalyan Cess</td>
      		<td>₹ 0.62</td>
      	</tr>
       	<tr>
      		<td>Service Tax</td>
      		<td>₹ 17.80</td>
      	</tr>
       	<tr>
      		<td>VAT</td>
      		<td>₹ 39.75</td>
      	</tr>
       	<tr>
      		<td>Delivery Charge</td>
      		<td>₹ 40</td>
      	</tr>
        <tr>
      		<td>Surcharge on VAT</td>
      		<td>₹ 2</td>
      	</tr>       	    	     	
      </table>
	</div>

  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>-->

  <div class="ui segments">
    <div class="ui segment attached">
      <h1 class="ui header">Your Ad Performance
        <div class="sub header">Advertising performance on Zomato</div>
      </h1>
    </div>
    <table class="ui celled striped table attached">
      <thead>
        <tr>
          <th>Campaign </th>
          <th>Impressions <a href="#" class="circular ui mini icon button"><i class="info icon"></i></a></th>
          <th>Clicks</th>
          <th>Estimated Business from Ads <a href="#" class="circular ui mini icon button"><i class="info icon"></i></a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">Campaign 1</a> 
                  <div class="meta">
                    <span>Nightlife + Golf Course Road</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    15 Jul - 5th Aug
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">26000 impressions</a> 
                  <div class="meta">
                    <span>23,345 unique users</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    90% during peak hours
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">85 clicks</a> 
                  <div class="meta">
                    <span>0.15% CTR</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    90% during peak hours
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">₹5000</a> 
                  <div class="meta">
                    <span>Spend: ₹200 per customer</span>
                  </div>
                  <div>
                    <span><small>₹150 per click &middot; ₹800 per impression</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    ROI: 1.5x
                  </div>
                </div>
              </div>
             </div>             
          </td>
        </tr>  

        <tr>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">Campaign 2</a> 
                  <div class="meta">
                    <span>Nightlife + Sector 29</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    15 Jun - 5th Aug
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">32000 impressions</a> 
                  <div class="meta">
                    <span>28,345 unique users</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    45% during peak hours
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">160 clicks</a> 
                  <div class="meta">
                    <span>0.15% CTR</span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    90% during peak hours
                  </div>
                </div>
              </div>
             </div> 
          </td>
          <td>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">₹28000</a> 
                  <div class="meta">
                    <span>Spend: ₹150 per customer</span><br/>
                  </div>
                  <div>
                    <span><small>₹150 per click &middot; ₹800 per impression</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                  <div class="extra">
                    ROI: 1.5x
                  </div>
                </div>
              </div>
             </div>             
          </td>
        </tr>                         
      </tbody>
    </table>
    <div class="ui center aligned segment attached"><a class="ui green basic button">Load More</a></div>
  </div>
  



		



{% endblock content%}
