{% extends "base.html" %}
{% block content %}


<!--AD PERFORMANCE HEADER -->

    <div class="ui yellow segment top attached" style = "margin-top:0px;">
      <h1 class="ui header">Your Ad Performance
        <div class="sub header">Performance of your advertising campaigns on Zomato.</div>
      </h1>
    </div>

    <div class = "ui segment bottom attached">
      <div class = "ui items">
        <div class = "item">
          <div class = "header">
            <div class = "subheader"><b> Showing all active advertisements between July 1 - July 31, 2016.  </b></div>
          </div>
          <div class = "middle aligned content">
            <button class = "ui basic mini green button right floated middle aligned"> Change date range </button>
            </div>
      </div>
    </div>
  </div>

<!--END AD PERFORMANCE HEADER -->


<!--
    <div class="ui yellow top attached segment">
    </div>
    <div class="ui segment bottom attached">
    </div>
-->

<!--OVERVIEW  HEADER -->
  <div class="ui yellow top attached segment">
    <h2 class = "ui header middle aligned"> Overview of all advertisements</h2>
    </div>
<!-- END OVERVIEW HEADER -->



<!--OVERVIEW IMPR/CLICKS/CONVERSION-->
  <div class = "ui segments">
  <div class="ui horizontal segments attached">
    
    <div class="ui segment attached" style = "background:white">
            <div class="ui grey sub header">Views of all advertisements
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">8,17,481 ad views</div> 

                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment attached" style = "background:white">
            <div class="ui grey sub header">Clicks on all advertisements
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3136 ad clicks</div> 
                  <div class="meta">
                    <span>0.32% click through rate</span>
                  </div>
                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment attached" style = "background:white">
            <div class="ui grey sub header">Actions from ad clicks
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3 orders from clicks <br>
                  2 calls from clicks</div>
                  <div>
                    <span><small style = "color:#4183C4">See how order volume changed with ads <i class="caret right icon"></i></small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
<!--END OVERVIEW IMPR/CLICKS/CONVERSION-->


<!--OVERVIEW INVESTMENT-->

  <div class="ui segment">
    <h4 class = "ui header middle aligned"> Total investment</h4>
  </div>
  <div class="ui horizontal segments attached">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Total investment in ads
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 21,00,500</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per thousand ad views
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 115 per thousand ad views</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per ad click
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 20 per ad click </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
</div>
<!--END OVERVIEW INVESTMENT-->



<!--==================================================================-->
<!--==================================================================-->


<!-- ANNA NAGAR HEADER -->
<div class = "ui section divider"></div>

  <div class="ui yellow segment">
    <h2 class = "ui header middle aligned"><a class="ui green empty circular label"></a><a href="#"><u> Anna Nagar West, Delivery Slot 2 </u></a></h2>
    <p style = "margin-left:25px; margin-top:-10px">Live: Started 5 days ago (July 1 - August 15, 2016)</p>
  </div>
<!-- END ANNA NAGAR HEADER -->



<!-- ANNA NAGAR IMPR/CLICKS/CONVERSION-->
  <div class="ui horizontal segments">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Views of all advertisements
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">8,17,481 ad views</div> 

                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Clicks on all advertisements
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3136 ad clicks</div> 
                  <div class="meta">
                    <span>0.32% click through rate</span>
                  </div>
                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Actions from ad clicks
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3 orders from clicks <br>
                  2 calls from clicks</div>
                  <div>
                    <span><small style = "color:#4183C4">See how order volume changed with ads <i class="caret right icon"></i></small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
<!-- END ANNA NAGAR IMPR/CLICKS/CONVERSION-->



<!--CUMULATIVE GRAPHS FOR ANNA NAGAR -->
<div class = "ui segments">
    <div class = "ui segment attached">
          <div class="ui grey sub header">Ad views for Anna Nagar West, Delivery Slot 2
            </div>
    </div>

      <div class = "ui pointing menu attached">
              <a class="active item">Ad views</a>
              <a class="item">Ad clicks</a>
              <a class="item">Click through rate</a>

        <div class="right menu">
            <div class="ui dropdown item">
              Daily <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item">Weekly</a>
                <a class="item">Monthly</a>
                <a class="item">Yearly</a>
              </div>
            </div>
      </div>
    </div>

    <div class = "ui segment bottom attached">
      <img src="{% static '/images/ad-views-graph.png' %}"/>
    </div>
</div>
<!--END CUMULATIVE GRAPHS FOR ANNA NAGAR-->


<!-- RELEVANCE FOR ANNA NAGAR -->
 <div class="ui horizontal segments">
    
    <div class="ui segment attached">
            <div class="ui grey sub header">Relevance of ad views on our platform 
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">73% of ad views came during peak dining hours</div> 
                </div>
              </div>
             </div> 
    </div>

    <div class="ui segment attached">
            <div class="ui grey sub header">Relevance of ad clicks on our platform 
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">67% of ad views came during peak dining hours</div> 
                </div>
              </div>
             </div> 
    </div>
  </div>
<!--END RELEVANCE FOR ANNA  NAGAR -->



<!--HOURLY GRAPHS FOR ANNA NAGAR -->
  <div class = "ui segments">
    <div class = "ui segment attached">
          <div class="ui grey sub header">Relevance of ad views (by the hour) for Anna Nagar West, Delivery Slot 2
            </div>
    </div>

      <div class = "ui pointing menu attached">
              <a class="active item">Ad views by the hour</a>
              <a class="item">Ad clicks by the hour</a>
    </div>

    <div class = "ui segment bottom attached">
      <img src="{% static '/images/ad-views-hourly-graph.png' %}"/>
    </div>
</div>
<!-- END HOURLY GRAPHS FOR ANNA NAGAR -->


<!--INVESTMENT FOR ANNA NAGAR -->
<div class="ui segments">
  <div class="ui segment top attached">
    <h4 class = "ui header middle aligned"> Total investment for Anna Nagar West, Delivery Slot 2</h4>
  </div>
  <div class="ui horizontal segments">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Total investment in this ad
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 21,00,500</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per thousand ad views
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 115 per thousand ad views</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per ad click
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 20 per ad click </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
</div>
<!--END INVESTMENT FOR ANNA NAGAR -->

<!--==================================================================-->
<!--==================================================================-->

<!--GROUP OF ADS-->
<div class = "ui section divider"></div>

  <div class="ui yellow segment">
    <h2 class = "ui header middle aligned"><a class="ui red empty circular label"></a> Group of advertisements started on July 2, 2016</h2>
    <p style = "margin-left:25px; margin-top:-10px">July 2, 2016 - July 31, 2016</p>
  </div>


  <!--GROUP OVERVIEW IMPR/CLICKS/CONVERSION-->
  <div class = "ui segments">
  <div class="ui horizontal segments attached">
    
    <div class="ui segment attached" style = "background:white">
            <div class="ui grey sub header">Views of all advertisements
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">8,17,481 ad views</div> 

                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment attached" style = "background:white">
            <div class="ui grey sub header">Clicks on all advertisements
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3136 ad clicks</div> 
                  <div class="meta">
                    <span>0.32% click through rate</span>
                  </div>
                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment attached" style = "background:white">
            <div class="ui grey sub header">Actions from ad clicks
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3 orders from clicks <br>
                  2 calls from clicks</div>
                  <div>
                    <span><small style = "color:#4183C4">See how order volume changed with ads <i class="caret right icon"></i></small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
<!--END GROUP OVERVIEW IMPR/CLICKS/CONVERSION-->


<!--GROUP OVERVIEW INVESTMENT-->

  <div class="ui segment">
    <h4 class = "ui header middle aligned"> Total investment</h4>
  </div>
  <div class="ui horizontal segments attached">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Total investment in ads
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 21,00,500</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per thousand ad views
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 115 per thousand ad views</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per ad click
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 20 per ad click </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
</div>
<!--END GROUP OVERVIEW INVESTMENT-->


<!--BANNER SELECTOR -->
  <div class="ui pointing blue menu">
      <a class="item">
        View by ad:
      </a>
      <a class="item active" style = "font-weight:bold">
        Chromepet, Delivery Slot 2
      </a>
      <a class="item">
        Anna Nagar, Delivery Slot 3
      </a>
      <a class="item">
        Saidapet, Delivery Slot 3
      </a>
      <a class="item">
        Adyar, Dine-out Slot 4
      </a>

      <div class = "right menu">
        <div class = "item">
          <i class="caret right icon"></i>
        </div>
      </div>

  </div>

  <!--END BANNER SELECTOR-->


  <!-- CHROMEPET HEADER -->

  <div class="ui yellow segment attached">
    <h2 class = "ui header middle aligned"><a class="ui green empty circular label"></a><a href="#"><u> Chromepet, Delivery Slot 2 </u></a></h2>
    <p style = "margin-left:25px; margin-top:-10px">Live: Started 5 days ago (July 1 - August 15, 2016)</p>
  </div>
<!-- END ANNA NAGAR HEADER -->


<div class = "ui segment attached"> 
<!-- CHROMEPET IMPR/CLICKS/CONVERSION-->
  <div class="ui horizontal segments">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Views of all advertisements
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">8,17,481 ad views</div> 

                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Clicks on all advertisements
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3136 ad clicks</div> 
                  <div class="meta">
                    <span>0.32% click through rate</span>
                  </div>
                  <div>
                    <span><small>3100 unique people clicked on ads</small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Actions from ad clicks
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">3 orders from clicks <br>
                  2 calls from clicks</div>
                  <div>
                    <span><small style = "color:#4183C4">See how order volume changed with ads <i class="caret right icon"></i></small></span>
                  </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
<!-- END CHROMEPET IMPR/CLICKS/CONVERSION-->



<!--CUMULATIVE GRAPHS FOR CHROMEPET -->
<div class = "ui segments">
    <div class = "ui segment attached">
          <div class="ui grey sub header">Ad views for Chromepet, Delivery Slot 2
            </div>
    </div>

      <div class = "ui pointing menu attached">
              <a class="active item">Ad views</a>
              <a class="item">Ad clicks</a>
              <a class="item">Click through rate</a>

        <div class="right menu">
            <div class="ui dropdown item">
              Daily <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item">Weekly</a>
                <a class="item">Monthly</a>
                <a class="item">Yearly</a>
              </div>
            </div>
      </div>
    </div>

    <div class = "ui segment bottom attached">
      <img src="{% static '/images/ad-views-graph.png' %}"/>
    </div>
</div>
<!--END CUMULATIVE GRAPHS FOR CHROMEPET-->



<!-- RELEVANCE FOR CHROMEPET -->
 <div class="ui horizontal segments">
    
    <div class="ui segment attached">
            <div class="ui grey sub header">Relevance of ad views on our platform 
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">73% of ad views came during peak dining hours</div> 
                </div>
              </div>
             </div> 
    </div>

    <div class="ui segment attached">
            <div class="ui grey sub header">Relevance of ad clicks on our platform 
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">67% of ad views came during peak dining hours</div> 
                </div>
              </div>
             </div> 
    </div>
  </div>
<!--END RELEVANCE FOR CHROMPET -->



<!--HOURLY GRAPHS FOR CHROMEPET -->
  <div class = "ui segments">
    <div class = "ui segment attached">
          <div class="ui grey sub header">Relevance of ad views (by the hour) for Chromepet, Delivery Slot 2
            </div>
    </div>

      <div class = "ui pointing menu attached">
              <a class="active item">Ad views by the hour</a>
              <a class="item">Ad clicks by the hour</a>
    </div>

    <div class = "ui segment bottom attached">
      <img src="{% static '/images/ad-views-hourly-graph.png' %}"/>
    </div>
</div>
<!-- END HOURLY GRAPHS FOR CHROMEPET -->



<!--INVESTMENT FOR CHROMEPET -->
<div class="ui segments">
  <div class="ui segment top attached">
    <h4 class = "ui header middle aligned"> Total investment for Chromepet, Delivery Slot 2</h4>
  </div>
  <div class="ui horizontal segments">
    
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Total investment in this ad
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 21,00,500</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per thousand ad views
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 115 per thousand ad views</div> 
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    <div class="ui segment" style = "background:white">
            <div class="ui grey sub header">Cost per ad click
                  <i class="help circle outline icon"></i>
            </div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <div class="ui header">Rs. 20 per ad click </div>
                  <div class="description">
                    <p></p>
                  </div>
                </div>
              </div>
             </div> 
    </div>
    </div>
</div>
<!--END INVESTMENT FOR CHROMEPET-->

</div>

<div class = "ui section divider"></div>


<!--STYLE-->
<style>

.ui.yellow.segment:not(.inverted) {
    border-top: 2px solid #B49E62;
}

.ui.divider:not(.vertical):not(.horizontal) {
    border-top: 8px solid rgba(34, 36, 38, 0.15);
}

.ui.basic.green.buttons .button, .ui.basic.green.button {
    box-shadow: 0px 0px 0px 1px #B49E62 inset !important;
    color: #B49E62 !important;

}

.ui.grey.header {
    color: #ABAAAC !important;
}

.ui.pointing.menu .item:after {
    border-bottom: 1px solid #AC9456;
    border-right: 1px solid #AC9456;
}

.ui.pointing.menu {
    border: 1px solid #AC9456;
}

</style>

<!--END STYLE-->


{% endblock content%}
