{% extends "base.html" %}
{% block content %}

<div class="ui segments">
	<div class="ui segment attached">
		<h1 class="ui header">Subscriptions
			<div class="sub header">View subscription history for Zomato for Business.</div>
		</h1>
	</div>	

<table class="ui celled striped table attached">
		  <thead>
		    <tr>
		    	<th>Subscription ID</th>
		    	<th>Purchased by</th>
		    	<th>Outlet(s)</th>
		    	<th>Next billing</th>
		    	<th>Payment details</th>
		    	<th>Subscription</th>
		    
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		    	<td>ZF-40-9E8D14343</td>
		    	<td>Aiswarya Kolisetty on 28th March 2016</td>
		    	<td>Test Restaurant 4 <br> Test Restaurant 3</td>
		    	<td>26th August 2016</td>
		    	<td><a class="ui basic mini grey button">Edit</a></td>
		    	<td><a class="ui basic mini red button">Cancel</a></td>
		    	
		    </tr>		 
		    <tr>
		    	<td>ZF-40-9E8D14343</td>
		    	<td>Aiswarya Kolisetty on 28th March 2016</td>
		    	<td>Test Restaurant 4 <br> Test Restaurant 3</td>
		    	<td>26th August 2016</td>
		    	<td><a class="ui basic mini grey button">Edit</a></td>
		    	<td><a class="ui basic mini red button">Cancel</a></td>
		    </tr>
		    <tr>
		    	<td>ZF-40-9E8D14343</td>
		    	<td>Aiswarya Kolisetty on 28th March 2016</td>
		    	<td>Test Restaurant 4 <br> Test Restaurant 3</td>
		    	<td>26th August 2016</td>
		    	<td><a class="ui basic mini grey button">Edit</a></td>
		    	<td><a class="ui basic mini red button">Cancel</a></td>
		    </tr>   
		  </tbody>
		</table>

		<div class="ui segment bottom attached">
		<p><small>Please email us at <a href= "#">merchant@zomato.com</a> to request further details on your subscription history.</small></p>
		</div>	


</div>

{% endblock content%}