{% extends "base.html" %}
{% block content %}



	<div class="ui segments">

	<div class="ui segment attached">
      <h1 class="ui header">Analytics
        <div class="sub header">See how your listing is doing on Zomato.</div>
      </h1>
    </div>


		<div class="ui segment attached">

			<!--WLA DOWNLOADS-->
			<h3>Total downloads of your whitelabel app</h3>
			<div class="ui horizontal segments">
				<div class="ui segment">
					July'16
					(Last month)
			<div class="ui mini statistics">
				<div class="statistic">
				  <div class="value">
				    10
				  </div>
				  </div>
			  </div>
					
				</div>
				<div class="ui segment">
					August'16
					(This month so far)
			   <div class="ui mini statistics">
				<div class="green statistic">
				  <div class="value">
				    8
				  </div>
			  </div>
			  </div>
				</div>
				<div class="ui segment">
					<img src="http://placehold.it/260x78"/>	
				</div>

			</div>

			<!--WLA ORDERS-->
			<h3>Total orders from your whitelabel app</h3>
			<div class="ui horizontal segments">
				<div class="ui segment">
					July'16
					(Last month)
			<div class="ui mini statistics">
				<div class="statistic">
				  <div class="value">
				    3
				  </div>
				  </div>
			  </div>
					
				</div>
				<div class="ui segment">
					August'16
					(This month so far)
			   <div class="ui mini statistics">
				<div class="green statistic">
				  <div class="value">
				    2
				  </div>
			  </div>
			  </div>
				</div>
				<div class="ui segment">
					<img src="http://placehold.it/260x78"/>	
				</div>

			</div>	




			<!--WLA BOOKINGS-->
			<h3>Total table bookings from your whitelabel app</h3>
			<div class="ui horizontal segments">
				<div class="ui segment">
					July'16
					(Last month)
			<div class="ui mini statistics">
				<div class="statistic">
				  <div class="value">
				    8
				  </div>
				  </div>
			  </div>
					
				</div>
				<div class="ui segment">
					August'16
					(This month so far)
			   <div class="ui mini statistics">
				<div class="green statistic">
				  <div class="value">
				    3
				  </div>
			  </div>
			  </div>
				</div>
				<div class="ui segment">
					<img src="http://placehold.it/260x78"/>	
				</div>

			</div>
		</div>

	</div>







{% endblock content%}